.main {
  section {
    // padding: 30px;
    h1 {
      text-align: center;
      color: #ffffff;
      text-shadow: 3px 3px 5px rgb(43, 42, 42);
    }
  }
}

.panel {
  width: 100vw;
  height: 100vh;
}
.red {
  background: blue;
  width: 100vw;
  height: 100vh;
}
.red {
  width: 100vw;
  height: 100vh;
  background: red;
}
.orange {
  width: 100vw;
  height: 100vh;
  background: orange;
}
.purple {
  width: 100vw;
  height: 100vh;
  background: purple;
}
.blue {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}

.fistDiv,  .thirdDiv {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  overflow: hidden;
}
.sescondDiv{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  overflow: hidden;
}
.thirdDiv{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  overflow: hidden;
}
